
{% extends "layout.twig" %}

{% block content %}

<header class="bk-header">
    <div class="companyheader wrapper clearfix">
          {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
          {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
          {{widget('extendednavigation', 'navigationheader', {"align":"right"})|raw}}
     </div>
</header> 

<div class="canvas">
	<div class="page-wrap">
		<section class="section main home-page">
				<span>{{widget('content', 'textwidgetbox1', {content: '<h4 style="text-align:center">Lorem ipsum dolor sit amet.</h4>', lines: 'all'})|raw}}</span>
				{{zone('main')|raw}}
		</section>
	</div>
</div>

<footer class="bk-footer">
	<div class="footer-border page-wrap">
		{{widget('profile', 'copyright', { 'profileType':'copyright', 'copyright':'profile', 'refreshtime':'1800000'})|raw}}
	</div>
</footer>

{% endblock %}
